/client/.DS_Store
/client/node_modules
/client/build
/client/.svelte-kit
/client/package
/client/.env
/client/.env.*
/client/!.env.example
/client/vite.config.js.timestamp-*
/client/vite.config.ts.timestamp-*
/client/log.txt


/server/.vercel
/server/venv
/server/__pycache__
/server/log.txt
